In [1]:
# imports
import graphlab as gl
import numpy as np
import pandas as pd

In [2]:
# load data
train_df = pd.read_csv('TRAIN.csv', index_col=0)
test_df = pd.read_csv('TEST.csv', index_col = 0)

# fill missing values
train_df['Network type subscription in Month 1'] = train_df['Network type subscription in Month 1'].fillna('3G')
train_df['Network type subscription in Month 2'] = train_df['Network type subscription in Month 2'].fillna('3G')

train_df['Most Loved Competitor network in in Month 1'] = train_df['Most Loved Competitor network in in Month 1'].fillna('Uxaa')
train_df['Most Loved Competitor network in in Month 2'] = train_df['Most Loved Competitor network in in Month 2'].fillna('Uxaa')

# drop empty rows
train_df.dropna(inplace=True, how='any', axis=0)

In [3]:
train_df.dtypes

network_age                                    float64
Customer tenure in month                       float64
Total Spend in Months 1 and 2 of 2017          float64
Total SMS Spend                                float64
Total Data Spend                               float64
Total Data Consumption                         float64
Total Unique Calls                             float64
Total Onnet spend                              float64
Total Offnet spend                             float64
Total Call centre complaint calls              float64
Network type subscription in Month 1            object
Network type subscription in Month 2            object
Most Loved Competitor network in in Month 1     object
Most Loved Competitor network in in Month 2     object
Churn Status                                   float64
dtype: object

In [4]:
# load data
train_sf = gl.SFrame('TRAIN.csv')
test_sf = gl.SFrame('TEST.csv')

train_sf.column_names

This non-commercial license of GraphLab Create for academic use is assigned to johnthas@yahoo.com and will expire on October 31, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1517444230.log

Finished parsing file /Users/robert/Documents/Kaggle/DSN Telecoms Churn 2018/TRAIN.csv

Parsing completed. Parsed 100 lines in 0.039731 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,int,float,float,float,float,float,int,int,int,int,str,str,str,str,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/robert/Documents/Kaggle/DSN Telecoms Churn 2018/TRAIN.csv

Parsing completed. Parsed 1401 lines in 0.016791 secs.

Finished parsing file /Users/robert/Documents/Kaggle/DSN Telecoms Churn 2018/TEST.csv

Parsing completed. Parsed 100 lines in 0.025293 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[str,int,float,float,float,float,float,int,int,int,int,str,str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /Users/robert/Documents/Kaggle/DSN Telecoms Churn 2018/TEST.csv

Parsing completed. Parsed 600 lines in 0.011869 secs.

<bound method SFrame.column_names of Columns:
	Customer ID	str
	network_age	int
	Customer tenure in month	float
	Total Spend in Months 1 and 2 of 2017	float
	Total SMS Spend	float
	Total Data Spend	float
	Total Data Consumption	float
	Total Unique Calls	int
	Total Onnet spend	int
	Total Offnet spend	int
	Total Call centre complaint calls	int
	Network type subscription in Month 1	str
	Network type subscription in Month 2	str
	Most Loved Competitor network in in Month 1	str
	Most Loved Competitor network in in Month 2	str
	Churn Status	int

Rows: 1401

Data:
+-------------+-------------+--------------------------+-------------------------------+
| Customer ID | network_age | Customer tenure in month | Total Spend in Months 1 an... |
+-------------+-------------+--------------------------+-------------------------------+
|   ADF0039   |     123     |           4.1            |             76.714            |
|   ADF0041   |     1316    |          43.87           |            98.8904            |
|   ADF0051   |     2385    |           79.5           |             372.63            |
|   ADF0059   |     1614    |           53.8           |             530.2             |
|   ADF0060   |     2175    |           72.5           |             554.13            |
|   ADF0066   |     158     |           5.27           |            792.1144           |
|   ADF0068   |     110     |           3.67           |             1090.5            |
|   ADF0072   |     558     |           18.6           |            29.5464            |
|   ADF0079   |     115     |           3.83           |             62.252            |
|   ADF0085   |     1868    |          62.27           |            120.1204           |
+-------------+-------------+--------------------------+-------------------------------+
+-----------------+------------------+------------------------+--------------------+
| Total SMS Spend | Total Data Spend | Total Data Consumption | Total Unique Calls |
+-----------------+------------------+------------------------+--------------------+
|       0.0       |       1.25       |         1.4951         |         14         |
|       4.14      |       1.25       |         1.0244         |         27         |
|       3.51      |       1.25       |         6.0898         |        119         |
|       6.85      |       1.25       |         3.3447         |         69         |
|       6.99      |      153.75      |      673204.0342       |         33         |
|      28.63      |      108.75      |       107713.582       |        101         |
|       1.75      |       0.0        |        14.9102         |        303         |
|       7.17      |       0.0        |        19.1533         |         4          |
|       6.76      |      11.25       |       201352.709       |         13         |
|      23.49      |      31.25       |        440.1846        |         23         |
+-----------------+------------------+------------------------+--------------------+
+-------------------+--------------------+-------------------------------+-------------------------------+
| Total Onnet spend | Total Offnet spend | Total Call centre complain... | Network type subscription ... |
+-------------------+--------------------+-------------------------------+-------------------------------+
|        564        |        6408        |               2               |               2G              |
|        1626       |        4373        |               1               |               2G              |
|       10411       |       22039        |               1               |               2G              |
|        6822       |        6274        |               1               |               2G              |
|        3387       |        7241        |               1               |               2G              |
|        7296       |       16636        |               1               |               2G              |
|       22176       |       71699        |               2               |               2G              |
|         12        |        444         |               1               |               2G              |
|         0         |        3563        |               1               |               2G              |
|         0         |        4254        |               1               |               2G              |
+-------------------+--------------------+-------------------------------+-------------------------------+
+-------------------------------+-------------------------------+-------------------------------+
| Network type subscription ... | Most Loved Competitor netw... | Most Loved Competitor netw... |
+-------------------------------+-------------------------------+-------------------------------+
|               2G              |              Uxaa             |             Mango             |
|               2G              |              Uxaa             |             Mango             |
|               2G              |            Weematel           |             Mango             |
|               2G              |               0               |             Mango             |
|               3G              |            Weematel           |             Mango             |
|               2G              |              Uxaa             |             Mango             |
|               2G              |             Zintel            |             Mango             |
|               2G              |              Uxaa             |             Mango             |
|               3G              |             Mango             |             Mango             |
|               2G              |             Mango             |             Mango             |
+-------------------------------+-------------------------------+-------------------------------+
+--------------+
| Churn Status |
+--------------+
|      0       |
|      0       |
|      0       |
|      0       |
|      0       |
|      0       |
|      0       |
|      1       |
|      1       |
|      1       |
+--------------+
[1401 rows x 16 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.>

### churn prediction requires a time series. we don't have this, so consider linear regression.

In [5]:
train_sf = train_sf.fillna('Network type subscription in Month 1', '3G')
train_sf = train_sf.fillna('Network type subscription in Month 2', '3G')

train_sf = train_sf.fillna('Most Loved Competitor network in in Month 1', 'Uxaa')
train_sf = train_sf.fillna('Most Loved Competitor network in in Month 2', 'Uxaa')

train_sf = train_sf.dropna(columns=None, how='any')

In [6]:
# Make a train-test split
train_data, test_data = train_sf.random_split(0.8)

In [7]:
feature_columns = ['network_age', 'Customer tenure in month', 'Total Spend in Months 1 and 2 of 2017', 'Total SMS Spend', 'Total Data Spend', 'Total Data Consumption', 'Total Unique Calls', 'Total Onnet spend', 'Total Offnet spend', 'Total Call centre complaint calls', 'Network type subscription in Month 1', 'Network type subscription in Month 2', 'Most Loved Competitor network in in Month 1', 'Most Loved Competitor network in in Month 2']
# Create a model.
model = gl.linear_regression.create(train_data, target='Churn Status',
                                    features = feature_columns)

# Save predictions to an SFrame (class and corresponding class-probabilities)
predictions = model.predict(test_data)

# Evaluate the model and save the results into a dictionary
results = model.evaluate(test_data)

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

Linear regression:

--------------------------------------------------------

Number of examples          : 1040

Number of features          : 14

Number of unpacked features : 14

Number of coefficients    : 30

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Validation-max_error | Training-rmse | Validation-rmse |

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

| 1         | 2        | 1.013943     | 1.330579           | 0.952398             | 0.454499      | 0.476334        |

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

SUCCESS: Optimal solution found.

In [8]:
results

{'max_error': 0.9652667896943115, 'rmse': 0.45465470776120664}

In [9]:
model['coefficients']

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 30

Data:
+-------------------------------+-------+--------------------+-------------------+
|              name             | index |       value        |       stderr      |
+-------------------------------+-------+--------------------+-------------------+
|          (intercept)          |  None |   0.65542175016    |        nan        |
|          network_age          |  None | -2.16760821472e-05 |   0.36506131597   |
|    Customer tenure in month   |  None | -9.92773231068e-05 |   10.2892352062   |
| Total Spend in Months 1 an... |  None | -7.01856206893e-05 | 2.41199461913e-05 |
|        Total SMS Spend        |  None | 0.000221816799304  | 0.000263199956342 |
|        Total Data Spend       |  None | 0.000191569105523  | 4.49975077521e-05 |
|     Total Data Consumption    |  None | -9.28909178585e-09 | 2.23518649559e-09 |
|       Total Unique Calls      |  None | -0.000139859717761 | 6.20396247621e-05 |
|       Total Onnet spend       |  None | 8.85970785015e-08  | 8.84769268052e-07 |
|       Total Offnet spend      |  None | 3.11683172812e-06  | 5.18919602153e-07 |
+-------------------------------+-------+--------------------+-------------------+
[30 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [10]:
predictions = model.predict(test_sf)

In [11]:
type(predictions)

graphlab.data_structures.sarray.SArray

In [12]:
type(test_sf)

graphlab.data_structures.sframe.SFrame

In [13]:
test_sf['predictions'] = predictions

In [14]:
test_sf.head()

Columns:
	Customer ID	str
	network_age	int
	Customer tenure in month	float
	Total Spend in Months 1 and 2 of 2017	float
	Total SMS Spend	float
	Total Data Spend	float
	Total Data Consumption	float
	Total Unique Calls	int
	Total Onnet spend	int
	Total Offnet spend	int
	Total Call centre complaint calls	int
	Network type subscription in Month 1	str
	Network type subscription in Month 2	str
	Most Loved Competitor network in in Month 1	str
	Most Loved Competitor network in in Month 2	str
	predictions	float

Rows: 10

Data:
+-------------+-------------+--------------------------+-------------------------------+
| Customer ID | network_age | Customer tenure in month | Total Spend in Months 1 an... |
+-------------+-------------+--------------------------+-------------------------------+
|   ADF0001   |     1012    |       33.73333333        |           1560.1156           |
|   ADF0002   |     137     |       4.566666667        |           1705.8368           |
|   ADF0003   |     202     |       6.733333333        |           1720.3008           |
|   ADF0004   |     165     |           5.5            |            1732.28            |
|   ADF0005   |     759     |           25.3           |            1873.06            |
|   ADF0006   |     129     |           4.3            |            1877.26            |
|   ADF0007   |     148     |       4.933333333        |           2388.8208           |
|   ADF0008   |     1144    |       38.13333333        |            2702.35            |
|   ADF0009   |     137     |       4.566666667        |           2782.5572           |
|   ADF0010   |     1456    |       48.53333333        |           2934.7028           |
+-------------+-------------+--------------------------+-------------------------------+
+-----------------+------------------+------------------------+--------------------+
| Total SMS Spend | Total Data Spend | Total Data Consumption | Total Unique Calls |
+-----------------+------------------+------------------------+--------------------+
|      14.04      |      226.3       |      3126093.298       |         64         |
|      73.63      |       5.0        |        162.8809        |        515         |
|       4.36      |      245.0       |       3334606.97       |        163         |
|       0.0       |       12.5       |      668292.3877       |        484         |
|      69.57      |      412.5       |      6666974.778       |         64         |
|      46.11      |      343.75      |      3387698.226       |        121         |
|      17.99      |       1.25       |      129167.6787       |        830         |
|      47.84      |      48.75       |       3390.0625        |        431         |
|      179.52     |      315.0       |      3632010.692       |        622         |
|      200.37     |      108.75      |       40638.8886       |        892         |
+-----------------+------------------+------------------------+--------------------+
+-------------------+--------------------+-------------------------------+-------------------------------+
| Total Onnet spend | Total Offnet spend | Total Call centre complain... | Network type subscription ... |
+-------------------+--------------------+-------------------------------+-------------------------------+
|       14503       |       12402        |               1               |               3G              |
|       29832       |       88953        |               9               |               3G              |
|        228        |        1495        |               1               |               3G              |
|         0         |       71928        |               2               |               3G              |
|        7616       |       20753        |               2               |               3G              |
|         0         |       20944        |               1               |               3G              |
|         0         |       93461        |               1               |                               |
|       60102       |       131525       |               1               |               3G              |
|         0         |       40724        |               2               |               3G              |
|       16572       |       150693       |               1               |             Other             |
+-------------------+--------------------+-------------------------------+-------------------------------+
+-------------------------------+-------------------------------+-------------------------------+
| Network type subscription ... | Most Loved Competitor netw... | Most Loved Competitor netw... |
+-------------------------------+-------------------------------+-------------------------------+
|               3G              |            Weematel           |             Mango             |
|               3G              |             ToCall            |             Mango             |
|               3G              |             ToCall            |             Mango             |
|               3G              |              Uxaa             |             Mango             |
|               3G              |             Mango             |             Mango             |
|               3G              |              PQza             |             Mango             |
|               3G              |               0               |             Mango             |
|               3G              |             Mango             |             Mango             |
|               3G              |            Weematel           |             Mango             |
|             Other             |              PQza             |             Mango             |
+-------------------------------+-------------------------------+-------------------------------+
+----------------+
|  predictions   |
+----------------+
| 0.524773128108 |
| 0.594680255015 |
| 0.453424890596 |
| 0.644887482361 |
| 0.597086209054 |
| 0.640399262286 |
| 0.486896643186 |
| 0.826203526048 |
| 0.507818320801 |
| 0.918558813294 |
+----------------+
[10 rows x 16 columns]

In [15]:
test_sf['Churn Status'] = test_sf['predictions'].apply(lambda x: int(x > 0.5))

In [16]:
test_sf.head()

Columns:
	Customer ID	str
	network_age	int
	Customer tenure in month	float
	Total Spend in Months 1 and 2 of 2017	float
	Total SMS Spend	float
	Total Data Spend	float
	Total Data Consumption	float
	Total Unique Calls	int
	Total Onnet spend	int
	Total Offnet spend	int
	Total Call centre complaint calls	int
	Network type subscription in Month 1	str
	Network type subscription in Month 2	str
	Most Loved Competitor network in in Month 1	str
	Most Loved Competitor network in in Month 2	str
	predictions	float
	Churn Status	int

Rows: 10

Data:
+-------------+-------------+--------------------------+-------------------------------+
| Customer ID | network_age | Customer tenure in month | Total Spend in Months 1 an... |
+-------------+-------------+--------------------------+-------------------------------+
|   ADF0001   |     1012    |       33.73333333        |           1560.1156           |
|   ADF0002   |     137     |       4.566666667        |           1705.8368           |
|   ADF0003   |     202     |       6.733333333        |           1720.3008           |
|   ADF0004   |     165     |           5.5            |            1732.28            |
|   ADF0005   |     759     |           25.3           |            1873.06            |
|   ADF0006   |     129     |           4.3            |            1877.26            |
|   ADF0007   |     148     |       4.933333333        |           2388.8208           |
|   ADF0008   |     1144    |       38.13333333        |            2702.35            |
|   ADF0009   |     137     |       4.566666667        |           2782.5572           |
|   ADF0010   |     1456    |       48.53333333        |           2934.7028           |
+-------------+-------------+--------------------------+-------------------------------+
+-----------------+------------------+------------------------+--------------------+
| Total SMS Spend | Total Data Spend | Total Data Consumption | Total Unique Calls |
+-----------------+------------------+------------------------+--------------------+
|      14.04      |      226.3       |      3126093.298       |         64         |
|      73.63      |       5.0        |        162.8809        |        515         |
|       4.36      |      245.0       |       3334606.97       |        163         |
|       0.0       |       12.5       |      668292.3877       |        484         |
|      69.57      |      412.5       |      6666974.778       |         64         |
|      46.11      |      343.75      |      3387698.226       |        121         |
|      17.99      |       1.25       |      129167.6787       |        830         |
|      47.84      |      48.75       |       3390.0625        |        431         |
|      179.52     |      315.0       |      3632010.692       |        622         |
|      200.37     |      108.75      |       40638.8886       |        892         |
+-----------------+------------------+------------------------+--------------------+
+-------------------+--------------------+-------------------------------+-------------------------------+
| Total Onnet spend | Total Offnet spend | Total Call centre complain... | Network type subscription ... |
+-------------------+--------------------+-------------------------------+-------------------------------+
|       14503       |       12402        |               1               |               3G              |
|       29832       |       88953        |               9               |               3G              |
|        228        |        1495        |               1               |               3G              |
|         0         |       71928        |               2               |               3G              |
|        7616       |       20753        |               2               |               3G              |
|         0         |       20944        |               1               |               3G              |
|         0         |       93461        |               1               |                               |
|       60102       |       131525       |               1               |               3G              |
|         0         |       40724        |               2               |               3G              |
|       16572       |       150693       |               1               |             Other             |
+-------------------+--------------------+-------------------------------+-------------------------------+
+-------------------------------+-------------------------------+-------------------------------+
| Network type subscription ... | Most Loved Competitor netw... | Most Loved Competitor netw... |
+-------------------------------+-------------------------------+-------------------------------+
|               3G              |            Weematel           |             Mango             |
|               3G              |             ToCall            |             Mango             |
|               3G              |             ToCall            |             Mango             |
|               3G              |              Uxaa             |             Mango             |
|               3G              |             Mango             |             Mango             |
|               3G              |              PQza             |             Mango             |
|               3G              |               0               |             Mango             |
|               3G              |             Mango             |             Mango             |
|               3G              |            Weematel           |             Mango             |
|             Other             |              PQza             |             Mango             |
+-------------------------------+-------------------------------+-------------------------------+
+----------------+--------------+
|  predictions   | Churn Status |
+----------------+--------------+
| 0.524773128108 |      1       |
| 0.594680255015 |      1       |
| 0.453424890596 |      0       |
| 0.644887482361 |      1       |
| 0.597086209054 |      1       |
| 0.640399262286 |      1       |
| 0.486896643186 |      0       |
| 0.826203526048 |      1       |
| 0.507818320801 |      1       |
| 0.918558813294 |      1       |
+----------------+--------------+
[10 rows x 17 columns]

In [17]:
churn_sf = test_sf[['Customer ID', 'Churn Status']]

In [18]:
churn_sf.export_csv('predictions/linear_regression.csv')

### Submission Accuracy: 0.69444

In [19]:
# investigate coefficients further
model['coefficients'].show()

Canvas is accessible via web browser at the URL: http://localhost:54231/index.html
Opening Canvas in default web browser.

## Play around with features

In [25]:
engineered_columns = ['network_age', 'Total Spend in Months 1 and 2 of 2017', 'Total SMS Spend', 'Total Data Spend', 'Total Data Consumption', 'Total Unique Calls', 'Total Onnet spend', 'Total Offnet spend', 'Total Call centre complaint calls',  'Most Loved Competitor network in in Month 1', 'Most Loved Competitor network in in Month 2']
# Create a model.
model = gl.linear_regression.create(train_data, target='Churn Status',
                                    features = engineered_columns)

# Save predictions to an SFrame (class and corresponding class-probabilities)
predictions = model.predict(test_data)

# Evaluate the model and save the results into a dictionary
results = model.evaluate(test_data)

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

Linear regression:

--------------------------------------------------------

Number of examples          : 1050

Number of features          : 13

Number of unpacked features : 13

Number of coefficients    : 29

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Validation-max_error | Training-rmse | Validation-rmse |

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

| 1         | 2        | 0.004899     | 1.299723           | 0.797278             | 0.456661      | 0.435355        |

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

SUCCESS: Optimal solution found.

In [26]:
results

{'max_error': 0.9741807585833012, 'rmse': 0.45149096783693055}